mqtt_server  = 'mqtt.vm.nurd.space'   # hostname of MQTT server
mqtt_port    = 1883
topic_prefix = 'GHBot/'  # leave this as is
channels     = ['nurdbottest', 'nurds', 'nurdsbofh']  # channels to respond to
prefix       = '!'  # !command, will be updated by ghbot
prompt       = 'nurdbot:'
gpsd_server  = ('time.lan.nurd.space', 2947)
snmp_com     = 'NURDs'
snmp_host    = 'gateway.lan.nurd.space'
snmp_version = 1
ntp_server   = 'time.lan.nurd.space'
smtp_server  = 'services.lan.nurd.space'
smtp_from    = 'ghbot@nurdspace.nl'
apcupsd      = '10.208.3.61'
